body {
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
  animation: rebote 1s;
  text-decoration: none;
}

@-webkit-keyframes rebote {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}

img {
  box-shadow: 2px 1px #02010a;
}

@media (max-width: 420px) {
  .contenido {
    width: 100%;
  }
  #cabecera {
    text-align: center;
    background-color: #5b7989;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  #cabecera > h1 {
    font-size: 1.5em;
    margin: 2px;
    padding: 2px;
    text-align: center;
    text-shadow: 2px 2px #02010a;
  }
  .menu-principal {
    padding: 5px;
    background-color: white;
    width: 98%;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  ul {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  li {
    margin-left: 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .principal {
    margin: 0 auto;
    background-color: #82c3a6;
  }
  .principal > img {
    width: 98%;
    padding: 5px;
    margin: 0 auto;
  }
  #seccion {
    text-align: center;
    background-color: #d5c75f;
    border: 1px;
  }
  #seccion > a > img {
    text-align: center;
    width: 90%;
    padding: 5px;
    margin: 5px 0 0 10px;
    transition: transform 1s;
  }
  #paisajes:hover {
    transform: rotate(10deg);
    box-shadow: 2px #82c3a6;
  }
  #retratos:hover {
    transform: translate(20px,-5px);
    box-shadow: 2px #82c3a6;
  }
  #galeretrato {
    text-align: center;
    background-color: #d5c75f;
    border: 1px;
  }
  #retrato1 {
    width: 90%;
    margin: 1px;
  }
  #retrato2 {
    width: 90%;
    margin: 1px;
  }
  #retrato3 {
    width: 90%;
    margin: 1px;
  }
  #retrato4 {
    width: 90%;
    margin: 1px;
  }
  #retrato5 {
    width: 90%;
    margin: 1px;
  }
  #retrato6 {
    width: 90%;
    margin: 1px;
  }
  footer {
    text-align: center;
    padding: 5px;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
  }
  .redesociales {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .redesociales > .icoredes {
    text-align: center;
    width: 3%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-shadow: none;
  }
  #face, #ave, #vid {
    margin: 3px;
  }
}

@media (min-width: 421px) {
  .contenido {
    width: 900px;
    margin: 0 auto;
    font-size: 1.5em;
  }
  #cabecera {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #5b7989;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  #cabecera > h1 {
    margin-left: 5px;
    padding: 2px;
    float: left;
    text-align: center;
    text-shadow: 2px 2px #02010a;
  }
  .menu-principal {
    margin-top: 80px;
    text-decoration: none;
    padding: 5px;
    float: right;
    align-content: center;
    display: flex;
    flex-direction: row;
  }
  ul {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  li {
    margin-left: 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .principal {
    margin: 0 auto;
    background-color: #82c3a6;
  }
  .principal > img {
    margin-left: 30px;
    width: 90%;
    padding: 5px;
  }
  #seccion {
    display: flex;
    flex-direction: row;
    background-color: #d5c75f;
    border: 1px;
    text-align: center;
  }
  #seccion > a > img {
    text-align: center;
    width: 90%;
    padding: 5px;
    margin: 5px 0 0 10px;
    transition: transform 1s;
  }
  #paisajes #retratos {
    box-shadow: 2px 2px #82c3a6;
    border: 2px;
  }
  #paisajes:hover {
    transform: rotate(10deg);
    box-shadow: 2px #82c3a6;
  }
  #retratos:hover {
    transform: translate(20px,-5px);
    box-shadow: 2px #82c3a6;
  }
  #galeretrato {
    text-align: center;
    background-color: #d5c75f;
    border: 1px;
  }
  .filasuper .filainfer {
    display: flex;
    flex-direction: row;
  }
  #retrato1 {
    width: 30%;
    margin: 1px;
  }
  #retrato2 {
    width: 30%;
    margin: 1px;
  }
  #retrato3 {
    width: 30%;
    margin: 1px;
  }
  #retrato4 {
    width: 30%;
    margin: 1px;
  }
  #retrato5 {
    width: 30%;
    margin: 1px;
  }
  #retrato6 {
    width: 30%;
    margin: 1px;
  }
  footer {
    text-align: center;
    font-size: 0.7em;
    padding: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
  }
  .direccion {
    width: 25%;
  }
  .politicas {
    width: 25%;
  }
  .redesociales {
    text-align: center;
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .redesociales > .icoredes {
    text-align: center;
    width: 3%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-shadow: none;
  }
  #face, #ave, #vid {
    margin: 3px;
  }
  .derechos {
    width: 25%;
  }
}
